# How to complete this assignment

First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract _sqlite_ database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going _Cell -> Run All_

## Some important notes

- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [48]:
import sqlite3
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [49]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect('./database.sqlite')

In [50]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)

In [51]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [52]:
player_data
player180 = player_data[player_data['height'] > 180]
player190 = player180[player180['height'] <= 190]
len(player190)

5925

In [53]:
# len(player_data.query("height > 180 and height <= 190"))
(player_data.query("height > 180 and height <= 190")).shape[0]

5925

In [54]:
players_180_190 = (player_data.query(
    "height > 180 and height <= 190")).shape[0]

In [55]:
assert(isinstance(players_180_190, int))

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [56]:
#
player_data['year_born'] = pd.to_datetime(
    player_data['birthday']).dt.strftime('%Y')
# player_data['year_born'] = pd.to_numeric(player_data['year_born'])
# b1980 = (player_data.query("year_born == 1980")).shape[0]
# b1980
#

player_data['birthday'] = pd.to_datetime(
    player_data['birthday'], format='%Y-%m-%d')
filter1980 = player_data.loc[(player_data['birthday'] >= '1980-01-01')
                             & (player_data['birthday'] <= '1980-12-31')]
filter1980.shape[0]

# player_data.loc(player_data['birthday'] == '1984')

434

In [57]:
players_1980 = filter1980.shape[0]

In [58]:
assert(isinstance(players_1980, int))

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [59]:
player_data_sort = player_data.sort_values(
    ['weight', 'player_name'], ascending=[False, True]).head(10)
player_data_sort = player_data_sort['player_name'].tolist()
# type(player_data_sort)
player_data_sort

['Kristof van Hout',
 'Tim Wiese',
 'Jeroen Verhoeven',
 'Ishmael Miller',
 'Cassio',
 'Christopher Samba',
 'Lars Unnerstall',
 'Marcus Hahnemann',
 'Abdoulaye Faye',
 'Enoch Showunmi']

In [60]:
highest_players = player_data_sort

In [61]:
assert(len(highest_players) == 10)
assert(isinstance(highest_players, list))
for i in range(10):
    assert(isinstance(highest_players[i], str))

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [62]:
# player_data.loc[(player_data['birthday'] >= '1980-01-01') & (player_data['birthday'] <= '1990-12-31')]
data80_90 = player_data.loc[(player_data['year_born'] >= '1980') & (
    player_data['year_born'] <= '1990')]  # 6790
print(player_data.loc[(player_data['year_born'] == '1980')].shape[0])
# data80_90['year_born'].describe()
ad = (data80_90['year_born'].value_counts()).sort_index()  # .index.tolist()
# list((data80_90['year_born'].value_counts()))
# print(data80_90)
# data80_90['year_born']
# print(ad)


data80_90_list = []
for idx, name in enumerate((data80_90['year_born'].value_counts()).sort_index().index.tolist()):
    result = (int(name), int(
        (data80_90['year_born'].value_counts()).sort_index()[idx]))
    data80_90_list.append(result)
print(data80_90_list)

434
[(1980, 434), (1981, 475), (1982, 487), (1983, 541), (1984, 607), (1985, 593), (1986, 710), (1987, 722), (1988, 802), (1989, 723), (1990, 696)]

In [63]:
years_born_players = data80_90_list

In [64]:
assert(len(years_born_players) == 11)
assert(isinstance(years_born_players, list))
for i in range(10):
    assert(isinstance(years_born_players[i], tuple))
    assert(isinstance(years_born_players[i][0], int))
    assert(isinstance(years_born_players[i][1], int))

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [65]:
t5AdrianoName = player_data.loc[(
    player_data['player_name'].str.find('Adriano ')) == 0]
t5AdrianoName

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,year_born
184,185,167648,Adriano De Pierro,193351,1991-01-11,185.42,170,1991
185,186,280969,Adriano Facchini,205122,1983-03-12,187.96,172,1983
186,187,39190,Adriano Ferreira Pinto,163653,1979-12-10,177.80,179,1979
187,188,172172,Adriano Jose de Lara,193874,1987-12-09,185.42,190,1987
188,189,39199,Adriano Pereira da Silva,135530,1982-04-03,180.34,165,1982
189,190,38122,Adriano Russo,137419,1987-06-06,185.42,159,1987

In [66]:
t5AdrianoNameRes = t5AdrianoName['height'].agg(['mean', 'std'])
t5AdrianoNameRes[0], t5AdrianoNameRes[1]

(183.7266666666667, 3.824085075762125)

In [67]:
adriano_mean, adriano_std = t5AdrianoNameRes[0], t5AdrianoNameRes[1]

In [68]:
assert(isinstance(adriano_mean, float))
assert(isinstance(adriano_std, float))

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [69]:
dayOfWeek = player_data['birthday'].dt.dayofweek.value_counts(
).sort_values(ascending=True).index[0]
weekDays = ['Monday', 'Tuesday', 'Wednesday',
            'Thursday', 'Friday', 'Saturday', 'Sunday']
dayOfWeek = weekDays[dayOfWeek]
dayOfWeek

'Sunday'

In [70]:
dow_with_min_players_born = dayOfWeek

In [71]:
assert(isinstance(dow_with_min_players_born, str))

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [72]:
match_data = pd.read_sql("SELECT * FROM Match;", db)
league_data = pd.read_sql("SELECT * FROM League;", db)

In [73]:
match_data['league_id'].value_counts()  # .count()
match_data.head(2)
# print(match_data.head(2))
t7data = match_data[['league_id']]  # .count()
league_data.sort_values(['id'], ascending=[True])

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [74]:
# match_data
match_data.value_counts(match_data['league_id']).sort_index().to_list()
match_data.value_counts(match_data['league_id']).sort_index()
# t7data
# t7data.loc[(t7data['league_id'])].value_counts()
# t7data.loc[(t7data['league_id'])].value_counts().sort_values(ascending=False)
# t7dataCount = t7data.loc[(t7data['league_id'])].value_counts().sort_index()
# t7dataCount = t7dataCount#.to_frame()
# t7dataCount

league_id
1        1728
1729     3040
4769     3040
7809     2448
10257    3017
13274    2448
15722    1920
17642    2052
19694    1824
21518    3040
24558    1422
dtype: int64

In [75]:
league_data['matches'] = match_data.value_counts(match_data['league_id']).sort_index().to_list()
league_data

       id  country_id                      name  matches
0       1           1    Belgium Jupiler League     1728
1    1729        1729    England Premier League     3040
2    4769        4769            France Ligue 1     3040
3    7809        7809     Germany 1. Bundesliga     2448
4   10257       10257             Italy Serie A     3017
5   13274       13274    Netherlands Eredivisie     2448
6   15722       15722        Poland Ekstraklasa     1920
7   17642       17642  Portugal Liga ZON Sagres     2052
8   19694       19694   Scotland Premier League     1824
9   21518       21518           Spain LIGA BBVA     3040
10  24558       24558  Switzerland Super League     1422

In [91]:
t7result = league_data.sort_values(
    ['matches', 'name'], ascending=[False, True]).head(1)
t7result = t7result.iloc[0]['name']
t7result

'England Premier League'

In [92]:
league_most_matches =  t7result

In [93]:
assert(isinstance(league_most_matches, str))

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [ ]:
max_matches_player =  # Your code here

In [ ]:
assert(isinstance(max_matches_player, str))

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [ ]:
top_correlated_features =  # Your code here

In [ ]:
assert(len(top_correlated_features) == 5)
assert(isinstance(top_correlated_features, list))
for i in range(5):
    assert(isinstance(top_correlated_features[i], tuple))
    assert(isinstance(top_correlated_features[i][0], str))
    assert(isinstance(top_correlated_features[i][1], str))

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [ ]:
neymar_similarities =  # Your code here

In [ ]:
assert(len(neymar_similarities) == 5)
assert(isinstance(neymar_similarities, list))
for i in range(5):
    assert(isinstance(neymar_similarities[i], str))

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [ ]:
borussia_bundesliga_2008_2009_matches =  # Your code here

In [ ]:
assert(isinstance(borussia_bundesliga_2008_2009_matches, int))

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [ ]:
team_most_matches_bundesliga_2008_2009 =  # Your code here

In [ ]:
assert(isinstance(team_most_matches_bundesliga_2008_2009, int))

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [ ]:
arsenal_won_matches_2015_2016 =  # Your code here

In [ ]:
assert(isinstance(arsenal_won_matches_2015_2016, int))

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [ ]:
team_highest_winrate_2015_2016 =  # Your code here

In [ ]:
assert(isinstance(team_highest_winrate_2015_2016, str))

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a _gap_ means the number of days between two consecutive matches of the same team.

In [ ]:
highest_gap_england_2010_2011 =  # Your code here

In [ ]:
assert(isinstance(highest_gap_england_2010_2011, int))

### Warning! Do not change anything in the area below

In [ ]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(
        f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")